tmp/
target/
lib_managed/
src_managed/
boot/
logs/
*.class
.scala_dependencies
.DS_Store
tmp/images
DataScienceAtScaleWithSpark/*.jpg
DataScienceAtScaleWithSpark/*.gif
ScalaJVMBigData-SparkLessons/*.tiff
ScalaJVMBigData-SparkLessons/*.gif
SparkOnMesos/*.jpg
SparkOnMesos/*.gif
